<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"  
	xmlns:aop="http://www.springframework.org/schema/aop"  
	xsi:schemaLocation="  
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd  
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd 
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd"> 
	<!-- 开启扫描包下面的注解 -->
	<context:component-scan base-package="com.zghw.framework.*" />
	
	<!--开启aAspectj注解自动代理对象  -->
	<aop:aspectj-autoproxy/>
	
	<!-- 属性替换符 ,多个用逗号分隔-->
	<context:property-placeholder location="classpath:project.properties,classpath*:/**/*-ons.properties"/>
	<!-- 导入dubbo配置、消费者配置、提供者配置 -->
	<import resource="classpath*:/**/*-dubbo.xml"/>
	<!-- 导入chain配置-->
	<import resource="classpath*:/**/*-chain.xml"/>
	<!-- 导入ONS配置-->
	<import resource="classpath*:/**/*-ons.xml"/>
</beans> 